body{
  text-align:center;
  padding:50px;
}
.modal{
  position: relative;
  margin-top: 15% !important;
  padding: auto !important;
}
.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}