@media (min-width:201px) and (max-width:368px){
    body{
        background-color: paleturquoise;
        color: purple;
    }

    #buttoncreate{
        display : block;
        text-align : left;
    }
}

table th,table td {
  padding: .625em;
  text-align: center;
}